/*Desktop Screen-size*/
@media (max-width: 1629px) {
    .home-div h2 {
        color: black;
    }
}

/*Laptop Screen-size*/
@media (max-width: 1344px) {

    .card-list,
    .card-item {
        width: 500px;
        height: 70vh;
        color: #222;
        padding-left: 100px;
        padding-right: 100px;
    }

    .card-image {
        position: relative;
        border-radius: 50%;
        border: 2px solid #444444;
        margin-bottom: 20px;
        margin-top: -20px;
        height: auto;
        width: 200px;
    }

    .card-list,
    h4 {
        font-size: 1.5rem;
        font-weight: 500;
        text-align: center;
    }

    .card-list {
        display: flex;
        justify-content: space-between;
        grid-template-columns: auto auto auto;
        grid-gap: 155px;
        flex: none;

    }

    .card-item {
        display: flex;
        flex-direction: column;
        gap: 15px;
        background: #fff;
        width: 10px;
        padding: 55px;
        border-radius: 8px;
        align-items: center;
        justify-content: center;
    }

    .card-list .card-item .Role {
        font-size: 1.5rem;
        color: #bb9107;
        font-weight: 500;
        margin: 14px 0 40px;
        text-align: center;
    }

    .card-list .card-item .more-details {
        font-size: 1.25rem;
        padding: 10px 35px;
        color: #030728;
        font-weight: 500;
        border-radius: 6px;
        cursor: pointer;
        border: 1px solid black;
        transition: .2s ease;
    }
}

/*Tablet Screen-size*/
@media (max-width: 768px) {

    .navbar-links.active,
    .navbar-links {
        display: none;
    }

    .dropdown {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #222;
        top: 69px;
        right: 15px;
        width: 25vh;
        z-index: 1;
    }

    .dropdown ul {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .dropdown ul li {
        margin: 15px 1px;
        width: 100%;
        text-align: center;
    }

    .dropdown.active {
        display: flex;
    }

    .menu-btn {
        display: flex;
    }
}