@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }

}

.WebDev-container,
.Java-container,
.AndroidApp-container {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.About-page h2,
.card-slider {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 25%;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 46.5;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }

}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}

@keyframes swingTop {
    0% {
        scale: 0.3;
        opacity: 0;
    }

    100% {
        scale: 1;
        opacity: 1;
    }
}

@keyframes active {
    0% {
        scale: 0.3;
        opacity: 0.5;
    }
    100% {
        scale: 1;
        opacity: 1;
    }
}
