/*My Main Desktop Screen-size*/
@media (max-width: 1920px) {}

/*Laptop Screen-size*/
@media (max-width: 1423px) {
    .home-div h2 {
        font-size: 45px;
        width: 44%;
    }

    .home-div h3 {
        font-size: 23px;
    }

    .About-page h2 {
        padding-bottom: 30px;
    }
    
    .slider-wrapper .slide-button  {
        margin: -50px 70px 35px;
    }

    .slider-wrapper {
        height: auto;
    }

    .floatbox {
        position: relative;
        height: 58vh;
        width: 95vh;
        right: 80vh;
        top: -40vh;
        z-index: 100;
    }

    .floatbox .profile-img {
        width: 28%;
        top: 5vh;
        left: 35px;
    }

    .floatbox .profile-name {
        position: relative;
        right: 10vh;
    }


    .Portfolio-page h2 {
        font-size: 50px;
    }

    .language-container .WebDev-container,
    .Java-container,
    .AndroidApp-container {
        margin-top: 10px;
        width: 50vh;
    }

    .ContactBTN {
        width: 21.5vh;
    }

    .right-container h3 {
        font-size: 35px;
        padding: 20px;
    }

    .right-container .input-box {
        margin-top: 45px;
    }

    .text-details {
        margin: 60px 0;
        padding: 10px;
    }

    .text-details p {
        font-size: 17px;
        padding: 30px;
    }

    .floatbox {
        left: 50vh;
    }

    .floatbox .profile-name {
        right: 20vh;
        font-size: 38px;
    }

    .floatbox .profile-role {
        font-size: 30px;
        right: -10vh;
    }

    .floatbox .profile-motto {
        font-size: 20px;
        right: -38vh;
    }

    .floatbox ul {
        font-size: 20px;
        right: 20vh;
    }

    .close-btn {
        width: 40px;
        height: auto;
        font-size: 30px;
    }
}

/*Tablet Screen-Size*/
@media (max-width: 990px) {
    .home-div h2 {
        font-size: 30px;
        position: relative;
        left: -8vh;
    }

    .home-div h3 {
        font-size: 18px;
        position: relative;
        left: -8vh;
    }

    .navbar-links.active,
    .navbar-links {
        display: none;
    }

    .dropdown {
        display: flex;
        position: sticky;
        flex-direction: column;
        position: absolute;
        background-color: #222;
        top: 69px;
        right: 15px;
        width: 25vh;
        z-index: 1;
    }

    .dropdown ul {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .dropdown ul li {
        margin: 15px 1px;
        width: 100%;
        text-align: center;
    }

    .dropdown.active {
        display: flex;
    }

    .menu-btn {
        display: flex;
    }

    .slider-wrapper .slide-button {
        margin-top: -50px;
    }

    .card-list .card-item .name {
        font-size: 24px;
    }

    .card-list .card-item .role {
        font-size: 20px;
    }

    .floatbox {
        left: 18vh;
    }

    .floatbox .profile-name {
        right: 25vh;
        font-size: 38px;
    }

    .floatbox .profile-role {
        font-size: 30px;
        right: -8vh;
    }

    .floatbox .profile-motto {
        font-size: 20px;
        right: -35vh;
    }

    .floatbox ul {
        font-size: 20px;
        right: 29vh;
    }

    .close-btn {
        width: 40px;
        height: auto;
        font-size: 30px;
    }
    

}


/*Mobile Screen-size*/
@media (max-width: 768px) {
    .home-div h2 {
        font-size: 25px;
        position: relative;
        left: -8vh;
        width: 46%;
    }

    .home-div h3 {
        font-size: 16.5px;
        position: relative;
        left: -8vh;
    }

    .navbar-links.active,
    .navbar-links {
        display: none;
    }

    .dropdown {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #222;
        top: 69px;
        right: 15px;
        width: 25vh;
        z-index: 100;
    }

    .dropdown ul {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .dropdown ul li {
        margin: 15px 1px;
        width: 100%;
        text-align: center;
    }

    .dropdown.active {
        display: flex;
    }

    .menu-btn {
        display: flex;
    }

    .slider-wrapper {
        margin: 0 10px 40px;
    }

    .slider-wrapper .slide-button {
        display: none;
    }
}