@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

body {
    background: linear-gradient(#8544e0, #40817b, #5c28d6, #7498af);
    color: #fff;
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
}

/*Navbar styles*/
header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    padding: 1rem 3.5rem;
    z-index: 1000;
    overflow: hidden;
}

.navbar .logo img {
    color: #fff;
    width: 90px;
    height: auto;
    margin-left: 30px;
    animation: slideRight 1s ease forwards;
}

.navbar-links {
    display: flex;
    list-style: none;
}

.navbar-links ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

.navbar-links a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
    padding-right: 70px;
    transition: color 0.4s ease;
    opacity: 0;
    animation: slideTop .8s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar-links a:hover,
.navbar a .tab-active {
    color: #03DAC5;
}

.dropdown {
    display: none;
}

.dropdown ul,
a {
    flex-direction: column;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    list-style: none;
}

.menu-btn {
    display: none;
    cursor: pointer;
    font-size: 30px;
}

/*Page styles*/
.section {
    height: 100vh;
    padding: 8.5% 8%;
}

/*Home Page*/
.Home-page {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    position: relative;
    align-items: center;
    gap: 2rem;
}

.home-div {
    position: relative;
    top: 35vh;
    left: 15vh;
    width: 70%;
}

.Font-div h2 {
    width: 47%;
    font-size: 65px;
    padding-bottom: 10px;
    color: #03DAC6;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid white;
    animation: typing 2.8s steps(22) forwards, blink 1s step-end infinite, slideLeft .8s ease forwards;
}


.home-div h3 {
    padding-left: 20px;
    font-size: 27px;
    line-height: 35px;
    text-indent: 55px;
    color: rgb(255, 255, 255);
    font-family: monospace;
    animation: slideTop 1s ease forwards;
    animation-delay: .2s;
}

/*About Page*/
.About-page {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.About-div {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
}

.About-page h2 {
    display: flex;
    justify-content: center;
    font-size: 65px;
    padding-top: 13vh;
    padding-bottom: 80px;
    color: #03DAC6;
    font-family: "Montserrat", sans-serif;
}

.slider-wrapper {
    overflow: hidden;
    max-width: 100%;
    margin: 0 160px 55px;
}

.card-list .card-item {
    color: #000;
    background-color: #ffffff52;
    user-select: none;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 8px;
}

.card-list .card-item .card-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 40px;
    border: 3px solid #7be4d9;
    padding: 4px;
}

.card-list .card-item .role {
    font-size: 22px;
    color: #daac16;
    font-weight: bold;
    margin: 14px 0 40px;
}

.card-list .card-item .name {
    font-size: 26px;
    color: #ffffff;
    line-height: 5px;
}

.card-list .card-item .more-details {
    font-size: 22px;
    padding: 10px 35px;
    color: #030728;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid black;
    transition: .2s ease;
}

.card-list .card-item .more-details:hover {
    background: #686868;
    border: 1px solid #fff;
    color: #fff;
}

.slider-wrapper .swiper-pagination-bullet {
    background-color: #fff;
    height: 13px;
    width: 13px;
}

.slider-wrapper .slide-button {
    color: #15a395;
    margin: -30px 70px 35px;
    transition: .2s ease;
}

.slider-wrapper .slide-button:hover {
    color: #fff;
}

.floatbox {
    display: none;
    position: absolute;
    z-index: 100;
    top: 20vh;
    height: 68vh;
    width: 120vh;
    background: #36363698;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    left: 38vh;
    overflow: hidden;
    animation: active .2s linear forwards;
}

.floatbox img {
    padding: 10px;
    border-radius: 50%;
    height: 50vh;
    width: 40vh;
}

.profile-img {
    width: 33%;
    position: relative;
    top: 10vh;
    left: 35px;
}

.floatbox.active {
    display: block;

}

.floatbox .profile-name {
    font-size: 44px;
    font-weight: bolder;
    position: relative;
    float: right;
    bottom: 40vh;
    right: 40vh;
}

.floatbox .profile-role {
    font-size: 34px;
    font-weight: 500;
    position: relative;
    float: right;
    bottom: 34vh;
    right: 8vh;
    color: #bb9107;
}

.floatbox .profile-motto {
    font-size: 28px;
    position: relative;
    float: right;
    bottom: 29vh;
    right: -40vh;
}

.floatbox ul {
    font-size: 24px;
    position: relative;
    float: right;
    bottom: 25vh;
    right: 36vh;
    line-height: 5vh;
    list-style: none;
}

.close-btn {
    font-size: 38px;
    position: relative;
    float: right;
    width: 50px;
    cursor: pointer;
    border-radius: 3px transparent;
    background: #dfdfdf;
    transition: .2s ease;
}

.close-btn:hover {
    color: #fff;
    background-color: #03dac57a;
}


/*Portfolio Page*/
.Portfolio-page {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    position: relative;
    align-items: center;
    gap: 2rem;
}

.Portfolio-page h2 {
    display: flex;
    font-size: 65px;
    padding-top: 13vh;
    padding-bottom: 10px;
    color: #03DAC6;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

.language-container {
    display: flex;
    width: 100%;
    height: 65vh;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

.language-container .WebDev-container,
.Java-container,
.AndroidApp-container {
    background-color: #15a395;
    margin-top: 20px;
    width: 40vh;
    height: 60vh;
    position: relative;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
}

.ContactBTN {
    font-size: 20px;
    background: #fff;
    border: none;
    border-radius: 8px;
    padding: 15px;
    color: #1b2150;
    font-weight: 600;
    position: relative;
    top: 20px;
    left: 92vh;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
    transition: .2s ease;
}

.ContactBTN:hover {
    background-color: #40817b;
    color: #ffffff;
}

/*Contact Page*/
.Contact-page {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    position: relative;
    align-items: center;
    gap: 2rem;
}

.contact-container {
    background-color: #03DAC5;
    width: 140vh;
    height: 85vh;
    margin: auto;
    position: relative;
    top: 11vh;
    display: flex;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
    animation: swingTop .8s linear forwards;
}

.left-container {
    background-color: #adadad;
    width: 45%;
    height: 85vh;
    z-index: 10;
}

.text-details {
    font-family: monospace;
    margin: 80px 5px;
    padding: 30px;
}

.text-details b {
    color: #030728;
}

.text-details p {
    color: #fff;
    font-size: 21px;
    padding: 50px;
}


.right-container {
    background-color: #2e2e2e;
    width: 55%;
    height: 85vh;
    z-index: 10;
}

.right-container h3 {
    font-size: 50px;
    text-align: center;
    padding: 50px;
}

.right-container .input-box {
    position: relative;
    width: 100%;
    margin-top: 60px;
    color: #fff;
}

.right-container .input-box input,
.right-container .input-box textarea {
    padding: 5px 0;
    font-size: 24px;
    width: 80%;
    margin: 10px 0 0 50px;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    outline: none;
    background: #2e2e2e;
    resize: none;
    color: #fff;
}

.right-container .input-box span {
    position: absolute;
    left: 50px;
    top: 10px;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: .5s;
    color: #a3a3a3;
}

.right-container .input-box input:focus~span,
.right-container .input-box input:valid~span,
.right-container .input-box textarea:focus~span,
.right-container .input-box textarea:valid~span {
    color: rgb(240, 196, 54);
    font-size: 14px;
    transform: translateY(-30px);
}

.right-container .input-box input[type="submit"] {
    width: 80%;
    background: #03DAC5;
    color: #030728;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    transition: .2s ease;
}

.right-container .input-box input[type="submit"]:hover {
    background: #20867c;
    color: #fff;
}